<table style="border: 1px solid black;">
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <img [src]="user.imageUrl" alt="User Image" style="max-width: 100px; max-height: 100px;">
          <input type="file" (change)="onImageSelected($event, user)">
          <button (click)="removeImage(user)" style="background-color:coral;">Remove Image</button>
        </td>
        <td>{{ user.id }}</td>
        <td><input type="text" #nameRef [value]="user.name"></td>
        <td><input type="email" #emailRef [value]="user.email"></td>
        <td><input type="text" #numberRef [value]="user.number"></td>
        <td>
          <button (click)="saveChanges(nameRef.value, emailRef.value, numberRef.value, user)" style="background-color: #5cb85c; padding: 8px 16px; border: none; border-radius: 4px; color: #fff; cursor: pointer; transition: background-color 0.3s ease;">
            Save
          </button>
          <button (click)="deleteUser(user.id)" style="background-color: #d9534f; padding: 8px 16px; border: none; border-radius: 4px; color: #fff; cursor: pointer; transition: background-color 0.3s ease;">
            Delete
          </button>
        </td>
      </tr>
      <tr>
        <td><input type="text" #newimageUrl placeholder="New image path"></td>
        <!-- No need for an empty cell -->
        <td></td>
        <td><input type="text" #newName placeholder="New Category Name"></td>
        <td><input type="text" #newEmail placeholder="new email"></td>
        <td><input type="text" #newNumber placeholder="new Number"></td>
        <td>
          <button type="button" (click)="addNewUser(newimageUrl.value, newName.value, newEmail.value, newNumber.value)" style="background-color: green; padding: 8px 16px; border: none; border-radius: 4px; color: #fff; cursor: pointer; transition: background-color 0.3s ease;">
            Submit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  