<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Image</th>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Duration (Hours)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>
        <img [src]="course.imageUrl" alt="Course Image" style="max-width: 100px; max-height: 100px;">
        <input type="file" (change)="onImageSelected($event, course)" >
        <button (click)="removeImage(course)" style="background-color:coral;margin-top: 25px;">Remove Image</button>
      </td>
      <td>{{ course.id }}</td>
      <td><input type="text" #titleRef [value]="course.title"></td>
      <td><input type="text" #descriptionRef [value]="course.description"></td>
      <td><input type="number" #priceRef [value]="course.price"></td>
      <td><input type="number" #durationRef [value]="course.durationInHours"></td>
      <td>
        <button (click)="saveChanges(titleRef.value, descriptionRef.value, priceRef.value, durationRef.value, course)" style="background-color: #5cb85c; padding: 8px 16px; border: none; border-radius: 4px; color: #fff; cursor: pointer; transition: background-color 0.3s ease;">
          Save
        </button>
        <button (click)="deleteCourse(course.id)" style="background-color: #d9534f; padding: 8px 16px; border: none; border-radius: 4px; color: #fff; cursor: pointer; transition: background-color 0.3s ease;">
          Delete
        </button>
      </td>
      
    </tr>
    <tr>
      
       <td> <input type="text" #newImageUrl placeholder="New Course Image URL"></td>
      <td></td>
        <td><input type="text" #newTitle placeholder="New Course Title"></td>
        <td> <input type="text" #newDescription placeholder="New Course Description"></td>
          <td> <input type="number" #newPrice placeholder="New Course Price"></td>
            <td> <input type="number" #newDuration placeholder="New Course Duration"></td>
              <td> <button (click)="addNewCourse(newImageUrl.value, newTitle.value, newDescription.value, +newPrice.value, +newDuration.value)" style="background-color: green; padding: 8px 16px; border: none; border-radius: 4px; color: #fff; cursor: pointer; transition: background-color 0.3s ease;">
          Submit
        </button>
      </td>
    </tr>
  </tbody>
</table>
